@font-face {
  font-family: Inter Regular;
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter SemiBold;
  src: url(../fonts/Inter-SemiBold.ttf);
}

:root {
  --primary: #0f0f0f;
  --secondary: #f1f1f1;
  --tertiary: #272727;
  --font-1: Inter Regular;
  --font-2: Inter SemiBold;
}

html, body {
  width: 250px;
  font-family: var(--font-1);
  background: var(--primary);
  color: var(--secondary);
}

.info {
  text-align: center;
}

.info a, a:visited {
  text-decoration: none;
  color: inherit;
}
