@font-face {
  font-family: Inter Regular;
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter SemiBold;
  src: url(../fonts/Inter-SemiBold.ttf);
}

:root {
  --primary: #f0f0f2;
  --secondary: #1b1b23;
  --font-1: Inter Regular;
  --font-2: Inter SemiBold;
}

html {
  font-family: var(--font-1);
  background: var(--secondary);
  color: var(--primary)
}
